body {
    background-color: black;
}
.menu-hotel {
    background-color: black;
}
.menu-hotel img {
    box-shadow: 0px 0px 100px rgb(236, 236, 236);
    position: absolute;
    left: 100px;
}
#name-plate {
    text-align: center;
    color: rgb(248, 244, 15);
    text-decoration: wavy underline whitesmoke;
}
  #name-plate {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}
#navigation ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}
#navigation a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#navigation a:hover {
    color: orange;
    text-decoration: blue;
}
/* Home section */
#trending {
    color: rgb(248, 7, 7);
    text-align: center;
    font-family: cursive;
}
.home {
    width: 300px;
    margin: 30px;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: Arial, sans-serif;
}
.food-name {
    font-family: 'Courier New', Courier, monospace;
}
#foods {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.home h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.home p {
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: end;
}
.images-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home:hover {
    transform: scale(1.07);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}
.button-home {
  background-color: rgb(112, 230, 16);
  color: rgb(14, 29, 233);
  font-size: 20px;
  cursor: pointer;
  border-radius: 15px;
}

/* Footer */
.footer-index {
    background-color: rgb(0, 0, 0) ;
    height: 125px;
}
#contact {
    position: relative;
    left: 620px;
    color: rgb(179, 157, 157);
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 20px;
}
#gmail {
    position: relative;
    left: 600px;
    color: rgb(228, 195, 195);
    font-family: cursive;
    font-size: 20px;
}
#nice {
    text-align: center;
    color: rgb(239, 243, 10);
    font-family:'Courier New', Courier, monospace;
}
.have {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    
}
#order {
    display: flex;
    color: white;
    font-family: unset;
    font-size: 50px;
    justify-content: center;
}
